/*CSS Reset*/

* {
    box-sizing: border-box;
}


/*Base Styles*/
body {
    margin: 0;
}

nav {
    display: inline-block;
    width: 100%;
    border: solid black 1px;
    text-align: center;
}

.logo {

    background-color: goldenrod;
}

/*Main Content*/


.col {
    margin-top: 70px;
}


}

.card {
    /*background-color: red;*/
    border: solid black 1px;

}









/*Media Queries*/

@media (min-width: 768px) {


nav {
    position: fixed;
    z-index: 2;
    top: 0;

}

    .logo {
        height: 50px;
        width: 100%;
        background-color: goldenrod;
    }



    .col {
        margin-top: 70px;

    }

}
