/*CSS Reset*/

* {
    box-sizing: border-box;
}


/*Base Styles*/
body {
    margin: 0;
}

nav {
    display: inline-block;
    width: 100%;
    border: solid black 1px;
    text-align: center;
}

.logo {

    background-color: goldenrod;
}

/*Main Content*/


.col {
    margin-top: 70px;
    display: grid;
    grid-gap: 1em;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;


}

.card h2 {
    transform: translateY(-200px);
    background-color: rgba(255,255,255,.85);
    height: 50px;
    padding-top: 10px;
}






}

.card {
    /*background-color: red;*/
    border: solid black 1px;

}



.card img {
    width: 100%;
}









/*Media Queries*/

@media (min-width: 768px) {


nav {
    position: fixed;
    z-index: 2;
    top: 0;

}

    .logo {
        height: 50px;
        width: 100%;
        background-color: goldenrod;
    }



    .col {
        margin-top: 70px;

    }

}
